@import '../../sass/base.scss';

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //margin: 20rem auto;
    font-size: 2em;

    & label {
        margin-bottom: -3rem;
        font-size: 1.7rem;
    }

    & input  {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        border: 1px $color-grey solid;
        padding: 1rem 15rem;
        border-radius: 100px;
        width: 20%;
        transition: all .2s;
    }

    & button {
        margin-top: -2rem;
        padding: 1.2rem 1.5rem;
        border-radius: 10px;
        background-color: $color-grey;
        color: $color-white;
        font-size: 1.3rem;
    }
}

h1 {
    text-align: center;
}


.main {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-around;
}