.form {
    width: 100%;
    margin: 3rem auto;
    font-size: 2em;
    text-align: center;
}

.form input {
    width: 20rem;
    border: 1px solid black;
    line-height: 2.5rem;
    margin: 2rem auto;
}

.form button {
    font-size: 1.5rem;
    padding: 0.7rem;
}