@import '../../sass/base.scss';

.container {
    display: flex;
    flex-direction: column;
}

.containerList {
    
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    @include large {
        height: 100vh;
        padding: 0 10rem;
    }
}

.backbtn {
    align-self: center;
    margin-top: -2rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid currentColor;
    padding-bottom: inline-block;

    @include large {
        align-self: flex-end;
        margin: 2rem 3.5rem 0 0;
    }
}