@import '../../sass/base.scss';

.header {
    height: 9rem;
    background-image: linear-gradient(145deg, $color-orange 35%, $color-champagne);

    display: flex;
    justify-content: space-between;
    //align on the y axis
    align-items: center;
    font-size: 1.5rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 3rem;
    color: $color-white;
}

.userNav {
    //align-self: stretch;
    display: flex;
    align-items: center;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }
} 
