@import '../../sass/base.scss';

.bookContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.book {
    width: 150px;
    padding: 1.5rem 0;

    display: flex;
    flex-direction: column;
}