@import '../../sass/base.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin {
    margin-top: 6rem;

    @include medium {
        margin-top: 10rem;
    }

    @include large {
        margin-top: 17rem;
    }
}

.signin .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include large {
        width: 90rem;
        height: 50rem;
        //padding: 15rem;
        border: 1px gray solid;
    }


    & label {
        font-size: 1.3rem;
    }

    & input {
        padding: 1.3rem 7rem;
        margin-bottom: 2rem;
        border: 2px gray solid;
        text-align: center;
    }

    & .btnlogin {
        padding: 1.3rem 7rem;
        background-color: greenyellow;
        font-size: 1.5rem;
        font-weight: 700;
        border: none;
        margin-bottom: 4rem;
    }
 
    & span {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    & .btnSignup {
        border: none;
        font-size: 1.5rem;
        font-weight: 700;
        background-color: white;
        border-bottom: 1px solid currentColor;
        cursor: pointer;

        align-self: center;
    }
}

