
.destinationCard {
    width: 450px;
    height: 600px;
    margin-top: 7rem;
    border: 1rem gray solid;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
}

.destination {
    width: 100%;
    margin-left: auto;
    background-color: grey;
    font-size: 2rem;  
    padding: 1.3rem;
    color: #fff;
}