@import '../../sass/base.scss';


.bookCard {
    width: 250px;
    height: 360px;
    padding: 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & img {
        width: 200px;
    }

    & .buttons {
        width: 200px;
        margin-top: 1rem;
        background-color: $color-grey;
        
         
        & button {
            font-size: 1.5rem;
            font-weight: bold;
            color: $color-white;
            padding: 1rem 1.5rem;
        }
    }
}

.info {
    width: 250px;
    background-color: $color-silk;
    padding: 1.5rem;
    max-height: 350px;
    overflow: scroll;
    text-align: justify;

    display: flex;
    flex-direction: column;

    & .author {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    & .synopsis {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}